DJANGO_SECRET_KEY=change-this-development-key
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=soru_havuzu
POSTGRES_USER=soru_havuzu
POSTGRES_PASSWORD=change-this-database-password
POSTGRES_HOST=db
POSTGRES_PORT=5432

